<div class="secure-main-section">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <div class="text-center">
                    <img width="200px" height="200px" class="rounded-circle profile-img"
                        src="/assets/ProfilePicture.webp" alt="">
                    <h5><i class="fa-regular fa-pen-to-square profile-icon"></i></h5>
                    <h3 class="text-puurple fw-bold">Sabrina</h3>
                    <p class="text-purple fw-bold">change Profile Photo</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="d-flex justify-content-center gap-2">
                    <p><i class="fa-solid fa-phone text-green fw-bold"></i></p>
                    <p class="fw-bold">+123 4567890</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="d-flex justify-content-center gap-2">
                    <p><i class="fa-regular fa-envelope text-green fw-bold"></i></p>
                    <p class="fw-bold">traceweb123example.com</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="d-flex justify-content-center gap-2">
                    <p><i class="fa-solid fa-location-dot text-green fw-bold"></i></p>
                    <p class="fw-bold">United States</p>
                </div>
            </div>

            <div class="text-center ">
                <button type="button" class="btn py-2 px-5 bg-purple ">+ Follow</button>
            </div>

            <div class="col-lg-7">

                <div class="d-flex justify-content-between align-items-center text-purple mt-3">
                    <h5 class="text-purple fw-bold">Favorite Commercial Area</h5>
                    <h5><i class="fa-regular fa-pen-to-square"></i></h5>
                </div>

                <div class="mb-3">
                    <img width="100%" src="/assets/place.png" alt="">
                    <p class="mb-0 fw-bold text-purple">Food Market</p>
                    <p class="mb-0 small fw-bold text-green">Elevated steaks, seafood</p>
                </div>

                <div class="mb-3">
                    <img width="100%" src="/assets/place-pizza.png" alt="">
                    <p class="mb-0 fw-bold text-purple">Chicken Cheez Pizza</p>
                </div>

            </div>

            <div class="col-lg-5 shadow rounded-5">


                <h4 class="fw-bold text-center py-3">Rating</h4>

                <div class="d-flex gap-2 shadow rounded-3 p-2 my-3 w-100">
                    <img class="rounded-circle" width="60px" height="60px" src="/assets/ProfilePicture.webp" alt="">
                    <div class="w-100">
                        <div class="d-flex justify-content-between w-100">
                            <p class="mb-0 fw-bold text-purple">karennne</p>
                            <p class="mb-0 small text-black-50 fw-bold">26/03/2024</p>
                        </div>
                        <p class="mb-0 small fw-bold text-black-50">Lorem ipsum dolor sit amet consectetur. Nibh sit
                            viverra lectus sed.</p>
                    </div>
                </div>
                <div class="d-flex gap-2 shadow rounded-3 p-2 my-3 w-100">
                    <img class="rounded-circle" width="60px" height="60px" src="/assets/ProfilePicture.webp" alt="">
                    <div class="w-100">
                        <div class="d-flex justify-content-between w-100">
                            <p class="mb-0 fw-bold text-purple">karennne</p>
                            <p class="mb-0 small text-black-50 fw-bold">26/03/2024</p>
                        </div>
                        <p class="mb-0 small fw-bold text-black-50">Lorem ipsum dolor sit amet consectetur. Nibh sit
                            viverra lectus sed.</p>
                    </div>
                </div>
                <div class="d-flex gap-2 shadow rounded-3 p-2 my-3 w-100">
                    <img class="rounded-circle" width="60px" height="60px" src="/assets/ProfilePicture.webp" alt="">
                    <div class="w-100">
                        <div class="d-flex justify-content-between w-100">
                            <p class="mb-0 fw-bold text-purple">karennne</p>
                            <p class="mb-0 small text-black-50 fw-bold">26/03/2024</p>
                        </div>
                        <p class="mb-0 small fw-bold text-black-50">Lorem ipsum dolor sit amet consectetur. Nibh sit
                            viverra lectus sed.</p>
                    </div>
                </div>
                <div class="d-flex gap-2 shadow rounded-3 p-2 my-3 w-100">
                    <img class="rounded-circle" width="60px" height="60px" src="/assets/ProfilePicture.webp" alt="">
                    <div class="w-100">
                        <div class="d-flex justify-content-between w-100">
                            <p class="mb-0 fw-bold text-purple">karennne</p>
                            <p class="mb-0 small text-black-50 fw-bold">26/03/2024</p>
                        </div>
                        <p class="mb-0 small fw-bold text-black-50">Lorem ipsum dolor sit amet consectetur. Nibh sit
                            viverra lectus sed.</p>
                    </div>
                </div>

                <div class="d-flex gap-2 my-3">

                    <input type="text" class="form-control p-3 bg-light shadow rounded-5"
                        placeholder="Write Comment...">

                    <button type="button" class="btn btn-light rounded-5 bg-green w-25">
                        <i class="fa-regular fa-paper-plane "></i>
                    </button>

                </div>


            </div>

            <h2 class="text-center my-5 bg-danger text-white">Next Page Edit Profile</h2>

            <div class="col-lg-6">
                <div class="my-4">
                    <label class="m-2 fw-bold">User Name:</label>
                    <input type="text" class="form-control p-3 rounded-4 border-0 bg-light" placeholder="Enter Name">
                </div>
            </div>


            <div class="col-lg-6">
                <div class="my-4">
                    <label class="m-2 fw-bold">Phone Number:</label>
                    <input type="number" class="form-control p-3 rounded-4 border-0 bg-light"
                        placeholder="Enter Number">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="my-4">
                    <label class="m-2 fw-bold">Email:</label>
                    <input type="email" class="form-control p-3 rounded-4 border-0 bg-light" placeholder="Enter Email">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="my-4">
                    <label class="m-2 fw-bold">Location</label>
                    <input type="text" class="form-control p-3 rounded-4 border-0 bg-light"
                        placeholder="Enter Location">
                </div>
            </div>

            <div class="text-center my-5">
                <button type="button" class="btn btn-light bg-green w-50 py-3 fw-bold ">save</button>
            </div>


        </div>
    </div>
</div>