<!-- Icons -->
<div class="mt-4">
    <div class="container">
        <div class="row">
           

            <div class="col col-lg-3">
                <div class="d-flex align-items-center justify-content-center gap-2">
                    <hr class="w-25 text-black bg-light">
                    <p class="mb-0 form-icon bg-purple"><i class="fa-solid fa-archway "></i></p>
                    <p class="mb-0 fw-bold">Restaurant</p>
                </div>
            </div>

            <div class="col col-lg-3">
                <div class="d-flex align-items-center justify-content-center gap-2">
                    <hr class="w-25 text-black bg-light">
                    <p class="mb-0 form-icon bg-purple"><i class="fa-solid fa-location-dot"></i></p>
                    <p class="mb-0 fw-bold">Location</p>
                </div>
            </div>

            <div class="col col-lg-3">
                <div class="d-flex align-items-center justify-content-center gap-2">
                    <hr class="w-25 text-black bg-light">
                    <p class="mb-0 form-icon bg-purple"><i class="fa-regular fa-user"></i></p>
                    <p class="mb-0 fw-bold">Contact</p>
                </div>
            </div>

            <div class="col col-lg-3">
                <div class="d-flex align-items-center justify-content-center gap-2">
                    <hr class="w-25 text-black bg-light">
                    <p class="mb-0 form-icon bg-purple"><i class="fa-regular fa-circle-check"></i></p>
                    <p class="mb-0 fw-bold">Verification</p>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Form -->
<div class="register-frenchise">
    <div class="container">
        <div class="card p-5 mt-5 rounded-5">
            <div class="row">

                <div class="my-5 text-center ">
                    <h2>A confirmation email has been sent for your account!</h2>
                    <p>Thank you for joining the Trace Web community!</p>
                </div>

                

                <div class="col col-lg-12 mt-5">
                    <div class="d-flex justify-content-end gap-3">
                        <button type="button" class="btn btn-light form-btn" (click)="goToContact()">Back</button>
                        <button type="button" class="btn btn-light form-btn" (click)="goToVerify()">Next</button>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>
