<div class="secure-main-section">
    <div class="container-fluid">
        <div class="row">

            <h4 class="fw-bold text-purple">Promotion</h4>

            <div class="col-lg-6">
                <div class="d-flex gap-2 my-3">
                    <button type="button" class="btn bg-green w-100 px-5 py-2">
                        <p class="mb-0 small fw-bold">Weekly</p>
                    </button>
                    <button type="button" class="btn bg-green w-100 px-5 py-2">
                        <p class="mb-0 small fw-bold">Monthly</p>
                    </button>
                </div>
            </div>


            <div class="col-lg-6">
                <div class="text-end">
                    <button type="button" class="btn bg-purple w-50 px-5 my-3 py-2 ">
                        <p class="mb-0 small fw-bold"><span><i class="fa-solid fa-download pe-2"></i></span> Monthly</p>
                    </button>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="shadow rounded-5 my-3">
                    <img class="rounded-5" width="100%" src="/assets/Analytics.png" alt="">
                </div>
            </div>

            <div class="col-lg-4">
                <div class="shadow rounded-5 my-3">
                    <img class="rounded-5" width="100%" src="/assets/Analytics.png" alt="">
                </div>
            </div>

            <div class="col-lg-4">
                <div class="shadow rounded-5 my-3">
                    <img class="rounded-5" width="100%" src="/assets/Analytics.png" alt="">
                </div>
            </div>

            <div class="col-lg-8">
                <div class="shadow rounded-5 my-3">
                    <img class="rounded-5" width="100%" src="/assets/Analytics-2.png" alt="">
                </div>
            </div>

            <div class="col-lg-4">
                <div class="shadow text-center rounded-5 my-3 py-4">
                    <img class="rounded-5" width="100%" src="/assets/Analytics-3.png" alt="">
                    <button type="button" class="btn btn-secondary my-3">View History</button>
                </div>
            </div>


            <!-- ------------------------------------------------------------- -->

            <h4 class="bg-danger text-center my-5 py-2">Next Page</h4>


            <h4 class="fw-bold text-purple"><i class="fa-solid fa-arrow-left"></i></h4>
            <h4 class="fw-bold text-purple">History</h4>

            <div class="col-lg-10">
                <div class="shadow rounded-5 my-3">
                    <img class="rounded-5" width="100%" src="/assets/History-1.png" alt="">
                </div>
            </div>



            <!-- ------------------------------------------------------------- -->

            <h4 class="bg-danger text-center my-5 py-2">Next Page</h4>


          <div class="col-lg-6">
            <div class="shadow rounded-5 my-3">
                <img class="rounded-5" width="100%" src="/assets/Analytics-3.png" alt="">
            </div>
          </div>

          <div class="col-lg-6">
            <div class="shadow rounded-5 my-3">
                <img class="rounded-5" width="100%" src="/assets/Analytics-4.png" alt="">
            </div>
          </div>

          <div class="col-lg-6">
            <div class="shadow rounded-5 my-3">
                <img class="rounded-5" width="100%" src="/assets/Analytics-5.png" alt="">
            </div>
          </div>

          <div class="col-lg-6">
            <div class="shadow rounded-5 my-3">
                <img class="rounded-5" width="100%" src="/assets/Analytics-6.png" alt="">
            </div>
          </div>


          <!-- ----------------------------------------------------------------------------------- -->
          
          <h4 class="bg-danger text-center my-5 py-2">Next Page</h4>


          <h4 class="fw-bold text-purple"><i class="fa-solid fa-arrow-left"></i></h4>
          <h4 class="fw-bold text-purple">Search Analysis</h4>

          <div class="col-lg-3">
            <div class="shadow my-3 rounded-5">
                <img class="rounded-5" width="100%" src="/assets/Analytics-7.png" alt="">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="shadow my-3 rounded-5">
                <img class="rounded-5" width="100%" src="/assets/Analytics-7.png" alt="">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="shadow my-3 rounded-5">
                <img class="rounded-5" width="100%" src="/assets/Analytics-7.png" alt="">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="shadow my-3 rounded-5">
                <img class="rounded-5" width="100%" src="/assets/Analytics-7.png" alt="">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="shadow my-3 rounded-5">
                <img class="rounded-5" width="100%" src="/assets/Analytics-7.png" alt="">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="shadow my-3 rounded-5">
                <img class="rounded-5" width="100%" src="/assets/Analytics-7.png" alt="">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="shadow my-3 rounded-5">
                <img class="rounded-5" width="100%" src="/assets/Analytics-7.png" alt="">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="shadow my-3 rounded-5">
                <img class="rounded-5" width="100%" src="/assets/Analytics-7.png" alt="">
            </div>
          </div>




          <!-- ----------------------------------------------------------------------------------- -->
          
          <h4 class="bg-danger text-center my-5 py-2">Next Page</h4>


          
          <h4 class="fw-bold text-purple"><i class="fa-solid fa-arrow-left"></i></h4>
          <h4 class="fw-bold text-purple">Revenue Metrics</h4>

          <div class="col-lg-10">
            <div class="shadow my-3 rounded-5">
                <img class="rounded-5" width="100%" src="/assets/Analytics-8.png" alt="">
            </div>
          </div>

          <div class="col-lg-6">
            <div class="shadow my-3 rounded-5">
                <img  class="rounded-5" width="100%" src="/assets/Analytics-9.png" alt="">
            </div>
          </div>
         



          
          <!-- ----------------------------------------------------------------------------------- -->
          
          <h4 class="bg-danger text-center my-5 py-2">Next Page</h4>


          
          <h4 class="fw-bold text-purple"><i class="fa-solid fa-arrow-left"></i></h4>
          <h4 class="fw-bold text-purple">Geography Analysis</h4>

          <div class="col-lg-10">
            <div class="shadow my-3 p-5 rounded-5">
                <img class="rounded-5" width="100%" src="/assets/Geography-1.png" alt="">
            </div>
          </div>




          
          
          <!-- ----------------------------------------------------------------------------------- -->
          
          <h4 class="bg-danger text-center my-5 py-2">Next Page</h4>


          
          <h4 class="fw-bold text-purple"><i class="fa-solid fa-arrow-left"></i></h4>
          <h4 class="fw-bold text-purple">Time Analysis</h4>

          <div class="col-lg-10">
            <div class="shadow my-3 rounded-5">
                <img class="rounded-5" width="100%" src="/assets/Analytics-10.png" alt="">
            </div>
          </div>





        </div>

    </div>
</div>