<!-- Icons -->
<div class="mt-4">
    <div class="container">
        <div class="row">
           

            <div class="col col-lg-3">
                <div class="d-flex align-items-center justify-content-center gap-2">
                    <hr class="w-25">
                    <p class="mb-0 form-icon bg-purple"><i class="fa-solid fa-archway "></i></p>
                    <p class="mb-0 fw-bold">Restaurant</p>
                </div>
            </div>

            <div class="col col-lg-3">
                <div class="d-flex align-items-center justify-content-center gap-2">
                    <hr class="w-25">
                    <p class="mb-0 form-icon  bg-purple"><i class="fa-solid fa-location-dot"></i></p>
                    <p class="mb-0 fw-bold">Address</p>
                </div>
            </div>

            <div class="col col-lg-3">
                <div class="d-flex align-items-center justify-content-center gap-2">
                    <hr class="w-25">
                    <p class="mb-0 form-icon"><i class="fa-regular fa-user"></i></p>
                    <p class="mb-0 fw-bold">Contact</p>
                </div>
            </div>

            <div class="col col-lg-3">
                <div class="d-flex align-items-center justify-content-center gap-2">
                    <hr class="w-25">
                    <p class="mb-0 form-icon"><i class="fa-regular fa-circle-check"></i></p>
                    <p class="mb-0 fw-bold">Verification</p>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Form -->
<div class="register-frenchise">
    <div class="container">
        <div class="card p-5 mt-5 rounded-5">
            <div class="row">
               
                <div class="col col-lg-12 mb-4">
                    <label class="mx-3 mb-2 fw-bold">Neighborhood</label>
                    <select class="form-select px-3 bg-light rounded-5 border-black-50 p-2">
                        <option selected>Select</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </div>

                <div class="col col-lg-6 mb-4">
                    <label class="mx-3 mb-2 fw-bold">Zip Code</label>
                    <input type="text" class="form-control bg-light rounded-5 border-black-50 py-2 px-3" placeholder="Zip Code">
                </div>

                <div class="col col-lg-6 mb-4">
                    <label class="mx-3 mb-2 fw-bold">City</label>
                    <input type="text" class="form-control bg-light rounded-5 border-black-50 py-2 px-3" placeholder="City">
                </div>

                <div class="col col-lg-6 mb-4">
                    <label class="mx-3 mb-2 fw-bold">State</label>
                    <input type="text" class="form-control bg-light rounded-5 border-black-50 py-2 px-3" placeholder="State">
                </div>

                <div class="col col-lg-6 mb-4">
                    <label class="mx-3 mb-2 fw-bold">Country</label>
                    <select class="form-select px-3 bg-light rounded-5 border-black-50 p-2">
                        <option selected>Country</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </div>

                <div class="col col-lg-9 mb-4">
                    <label class="mx-3 mb-2 fw-bold">Outside Number</label>
                    <input type="text" class="form-control bg-light rounded-5 border-black-50 py-2 px-3" placeholder="Number">
                </div>

                <div class="col col-lg-3 mb-4">
                    <label class="mx-3 mb-2 fw-bold">Inner Number</label>
                    <input type="text" class="form-control bg-light rounded-5 border-black-50 py-2 px-3" placeholder="Number">
                </div>

                <div class="col col-lg-12 mt-5">
                    <div class="d-flex justify-content-end gap-3">
                        <button type="button" class="btn btn-light form-btn" (click)="goToRegFrenchise()">Back</button>
                        <button type="button" class="btn btn-light form-btn" (click)="goToContact()">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
