<!-- Icons -->
<div class="mt-4">
    <div class="container">
        <div class="row">
           

            <div class="col col-lg-3">
                <div class="d-flex align-items-center justify-content-center gap-2">
                    <hr class="w-25 text-black bg-light">
                    <p class="mb-0 form-icon bg-purple"><i class="fa-solid fa-archway "></i></p>
                    <p class="mb-0 fw-bold">Restaurant</p>
                </div>
            </div>

            <div class="col col-lg-3">
                <div class="d-flex align-items-center justify-content-center gap-2">
                    <hr class="w-25 text-black bg-light">
                    <p class="mb-0 form-icon bg-purple"><i class="fa-solid fa-location-dot"></i></p>
                    <p class="mb-0 fw-bold">Location</p>
                </div>
            </div>

            <div class="col col-lg-3">
                <div class="d-flex align-items-center justify-content-center gap-2">
                    <hr class="w-25 text-black bg-light">
                    <p class="mb-0 form-icon bg-purple"><i class="fa-regular fa-user"></i></p>
                    <p class="mb-0 fw-bold">Contact</p>
                </div>
            </div>

            <div class="col col-lg-3">
                <div class="d-flex align-items-center justify-content-center gap-2">
                    <hr class="w-25 text-black bg-light">
                    <p class="mb-0 form-icon"><i class="fa-regular fa-circle-check"></i></p>
                    <p class="mb-0 fw-bold">Verification</p>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Form -->
<div class="register-frenchise">
    <div class="container">
        <div class="card p-5 mt-5 rounded-5">
            <div class="row">

                <div class="col col-lg-6 mb-4">
                    <label class="mx-3 mb-2 fw-bold">Name</label>
                    <input type="text" class="form-control bg-light rounded-5 border-black-50 py-2 px-3" placeholder="Enter your First Name">
                </div>
               
                <div class="col col-lg-6 mb-4">
                    <label class="mx-3 mb-2 fw-bold">Surname</label>
                    <input type="text" class="form-control bg-light rounded-5 border-black-50 py-2 px-3" placeholder="Enter your Surname">
                </div>
               
                <div class="col col-lg-6 mb-4">
                    <label class="mx-3 mb-2 fw-bold">Email</label>
                    <input type="email" class="form-control bg-light rounded-5 border-black-50 py-2 px-3" placeholder="Your Email">
                </div>
               
                <div class="col col-lg-6 mb-4">
                    <label class="mx-3 mb-2 fw-bold">Phone Number</label>
                    <input type="number" class="form-control bg-light rounded-5 border-black-50 py-2 px-3" placeholder="Phone Number">
                </div>
               
                <div class="col col-lg-6 mb-4">
                    <label class="mx-3 mb-2 fw-bold">Password</label>
                    <input type="password" class="form-control bg-light rounded-5 border-black-50 py-2 px-3" placeholder="Your Password">
                </div>
               
                <div class="col col-lg-6 mb-4">
                    <label class="mx-3 mb-2 fw-bold">Confirm Password</label>
                    <input type="password" class="form-control bg-light rounded-5 border-black-50 py-2 px-3" placeholder="Confirm Password">
                </div>

                <div class="col col-lg-12 mt-5">
                    <div class="d-flex justify-content-end gap-3">
                        <button type="button" class="btn btn-light form-btn" (click)="goToAddress()">Back</button>
                        <button type="button" class="btn btn-light form-btn" (click)="goToVerification()">Next</button>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>